{
    "extends": ["react-app"],
    "rules": {
      "react/jsx-filename-extension": [1, {
        "extensions": [".js", ".jsx"]
      }],
      "no-useless-escape": "off",
      "no-script-url": "off",
      "jsx-a11y/anchor-has-content": "off",
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "no-template-curly-in-string": "off",
      "beforeSelfClosing": "off",
      "react/prop-types": 0,
      "react/prefer-stateless-function": 0,
      "react/jsx-one-expression-per-line": 0,
      "linebreak-style": 0,
      "react/jsx-wrap-multilines": 0,
      "react/no-danger": 0,
      "react/forbid-prop-types": 0,
      "no-use-before-define": 0,
      "no-param-reassign": 0,
      "import/no-unresolved": 0,
      "no-console": 0,
      "indent": 0,
      "space-in-brackets": "off",
      "react/jsx-boolean-value": "off",
      "import/prefer-default-export": "off",
      "object-shorthand": "off",
      "prefer-const": "off",
      "eslint lines-between-class-members": "off",
      "class-methods-use-this": "off",
      "no-return-assign": "off",
      "no-shadow": "warn",
      "consistent-return": "off",
      "array-callback-return": "off",
      "no-debugger": "off",
      "camelcase": "off",
      "prefer-destructuring": "off",
      "react/self-closing-comp": "off",
      "no-unused-vars": "off",
      "no-nested-ternary": "off",
      "react/jsx-closing-tag-location": "off",
      "react/no-unused-state": "off",
      "prefer-template": "off",
      "no-prototype-builtins": "off",
      "no-underscore-dangle": "off",
      "react/destructuring-assignment": "off",
      "react/jsx-indent": "off",
      "radix": "off",
      "no-plusplus": "off",
      "react/no-array-index-key": "off",
      "react/no-unescaped-entities": "off",
      "react/no-access-state-in-setstate": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "react/jsx-no-bind": "off",
      "react-hooks/rules-of-hooks":"off"
    },
    "parserOptions": {
      "ecmaFeatures": {
        "legacyDecorators": true
      }
    }
  }