@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none !important;
  box-sizing: none;
  font-family: "Raleway", sans-serif;
}

.App {
  background-color: red;
  height: -webkit-fill-available;
  width: 100%;
}

// --> Sol Menü CSS
.leftMenu {
  z-index: 2;
  height: 100%;
  max-width: 224px !important;
  width: 224px !important;
  display: flex;
  flex-direction: column;
  background-color: #293241;
  padding: 0 !important;
  margin: 0;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;

  .menuTop {
    height: 47px;
    width: 100%;
    border-bottom: 1px solid #3f4d64;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 27px;

    span {
      width: 27px !important;
      height: 17px !important;
      display: flex;
      cursor: pointer;
    }
  }

  .logo {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 27px;
  }

  .user {
    height: 47px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border-bottom: 1px solid #3f4d64;
    border-top: 1px solid #3f4d64;
    color: white;
    font-size: 14px;

    .user-alt {
      display: flex;

      span {
        margin-right: 7px;
        width: 21px;
        height: 21px;
      }
    }
  }

  ul {
    min-height: 300px;
    padding-top: 29px;

    .menu-items {
      cursor: pointer;
      width: auto;
      height: 54px;
      display: flex;
      align-items: center;
      display: flex;
      margin-left: 27px;

      a {
        margin-left: 9px;

        span {
          color: #c0c9d8;
        }
      }

      .mobile {
        position: absolute;
        right: 18px;
      }
    }
  }

  .settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c0c9d8;
    font-size: 16px;
    position: absolute;
    height: 60px;
    bottom: 0;
    font-weight: 500;
    padding-left: 27px;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #3f4d64;

    .mobile {
      position: absolute;
      right: -50px;
      background-color: #3F4D64;
    }

    span {
      margin-right: 9px;

    }
  }
}

.mobile {
  margin-left: -224px;
  transition: all 0.6s;

  .menuTop {
    .icon-mobile {
      background-color: #fff;
      position: absolute;
      right: -59px;
      padding: 16px;
      width: 59px;
      height: 47px;
      cursor: pointer;
      border-right: 1px solid #e6e9ef;
      border-bottom: 1px solid #e6e9ef;

      span {
        background: #293241;
      }
    }
  }
}

// --> Content CSS

.header {
  width: 100%;
  height: 47px;
  border: 1px solid #e6e9ef;
  padding-left: 59px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  .search {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0;

    .search-in {
      position: fixed;
      width: 400px;
      height: 500px;
      background-color: #fff;
      z-index: 10;
      border: 1px solid;
      transition: all 0.6s;
      top: -500px;
    }

    .rbt-input {
      padding: 0;
      border: 0;
      height: 45px;
    }

    .form-control {
      &:focus {
        box-shadow: none;
      }
    }

    .search-input {
      width: 100%;
      height: 100%;
      padding-left: 51px;
      outline: none;
      position: relative;
      border: 0;

      &::placeholder {
        color: #3f4d64;
        overflow: hidden;
      }

      &:focus {
        outline: transparent;
      }
    }

    span {
      background: #293241;
      position: absolute;
      left: 18px;
      width: 18px;
      height: 18px;
      -webkit-mask-size: 18px !important;
    }
  }
}

.content {
  display: flex;
  max-height: 100vh;
  height: 100%;

  .small-menu {
    min-width: 59px;
    width: 59px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e6e9ef;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .order {
      height: 84px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e6e9ef;
      margin-bottom: 15px;
      cursor: pointer;

      &:hover {
        background: rgba(#000000, 0.2);
        transition: all 0.6s;
      }

      span {
        background: #293241;
      }
    }

    ul {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 54px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background: rgba(#000000, 0.2);
          transition: all 0.6s;
        }

        span {
          background: #293241;
        }
      }
    }
  }

  .card-content {
    width: 100%;
    padding: 15px 17px 17px 15px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    column-gap: 5px;
    transition: box-shadow 0.3s;
    margin-bottom: 35px;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #e6e9ef;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    min-height: 250px;

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    img {
      width: 189px;
      height: 157px;
      padding: 5px;
    }

    .card-body {
      padding: 0;
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 12px;
      font-style: normal;
      color: #3f4d64;
      border: 1px solid #e6e9ef;
      width: 100%;
    }

    .card-title {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #5265cc;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.right-bar {
  padding: 0 !important;
  max-width: 322px !important;
  border-left: 1px solid #e6e9ef;
  height: 100%;

  .order-top {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #e6e9ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .order-tax {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #3f4d64;
      margin-left: 22px;
      line-height: 18px;
      font-feature-settings: "pnum" on, "lnum" on;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-right: 20px;
        background: #3f4d64;
        width: 20px;
        height: 20px;
        mask-size: 20px !important;
        cursor: pointer;
      }
    }
  }

  .table {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #5265cc;
    margin: 0;
  }

  .add-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffedea;
    color: #d63838;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    height: 40px;
    border: 1px solid #e6e9ef;
    cursor: pointer;

    .icon-svg-contact {
      background: #d63838;
      margin-right: 20px;
    }
  }
}

.order-item {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 33px;
  border-bottom: 1px solid #e6e9ef;

  &:hover {
    background: #eff3ff;
    transition: all 0.2s;
  }

  cursor: pointer;

  .left {
    display: flex;
    flex-direction: column;

    .item-name {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #3f4d64;
    }

    .item-detail {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #7588a9;
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    .installment {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 11px;
      text-align: right;
    }

    .item-price {
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
    }
  }
}

.bill-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .add-discount {
    span {
      font-family: Arial !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 12px !important;
      line-height: 14px !important;
      color: #5265cc !important;
    }

    .icon-svg-discount {
      background: #5265cc;
      cursor: pointer;
    }
  }

  .subtotal {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 34px 0 25px;

    .price {
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      color: #3f4d64;
    }

    .discount {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #3f4d64;

      .icon-svg-pencil {
        width: 10px;
        height: 10px;
        mask-size: 10px !important;
        margin-left: 8px;
        cursor: pointer;
        background: #3f4d64;
      }

      .icon-svg-trash {
        width: 10px;
        height: 10px;
        mask-size: 10px !important;
        margin-left: 8px;
        cursor: pointer;
        background: #e53e3e;
      }
    }
  }

  .charge {
    height: 70px;
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30 0 30;
    background: #5265cc;
    border: none;
    padding: 0 31px;

    &:hover {
      background-color: rgba(#5265cc, 0.8);
    }

    span {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
    }

    span + span {
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      text-align: right;
    }
  }
}

#basic-typeahead-single {
  will-change: transform;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: auto;
  top: 0px;
  left: 0px;
  justify-content: center;
  border-radius: 0 0 4 4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

  .dropdown-item {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }
}

.modal-content {
  min-height: 446px !important;
  width: 399px !important;

  .modal-header {
    text-align: center;
    border: 1px solid #e6e9ef;
    justify-content: center;
    display: flex;

    #contained-modal-title-vcenter {
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      text-align: center;
      color: #3f4d64;
    }
  }

  .modal-body {
    padding-left: 34px;
    padding-right: -23px;
    padding-top: 0;
    padding-bottom: 0;
    .formHorizontalRadios {
      display: flex;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #3f4d64;
      margin-bottom: 15px;
      align-items: center;
      padding: 0;
    }

    .form-check-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }

    input[type="radio"]:checked + label:before {
      background-color: #5265cc;
      border: 2px solid #5265cc;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 3px;
      margin-right: 12px;
      background-clip: content-box;
      border: 2px solid #bbbbbb;
      background-color: #e7e6e7;
      border-radius: 50%;
    }
  }
}
.modal-footer {
  button {
    height: 40px;
    width: 156px;
    border: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    
  }
}
.modal-dialog-centered {
  display: flex !important;
  justify-content: center !important;
}
